.container{
    
}





#welcome{
    background-image: url(./assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    padding-bottom: 55%;
    position:relative;
    }
    #welcome p{
        color: white;
        font-size: small;
        position:absolute;
        padding-top: 38%;
        padding-left: 30%;
    }
    #welcome h1{
        color: white;
        position: absolute;
        padding-top: 25%;
        padding-left: 45%;
        
        }
    .welcome{
        position: relative;
    }
    .mouse{
        position: absolute;
        padding-left: 32%;
        padding-top: 45%;
    }
    .welcome img{
        position: absolute;
        padding-left:45%;
        padding-top: 15%;
    }
        #about p{
            color: black;
            margin-left: 20%;
            font-size:smaller;
        }
        #about h4{
            margin-left: 43%;
        }
        #about .paragraph {
            margin-left: 10%;
        }
        #about p span{
            
            margin-left: 30%;
        }
/*portfolio dection */
.portfolio h4 {
    margin-left: 40%;
}
/*services section css */
#services{
    background-image: url(./assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 40vh;
    width: 100%;
    
}

.what h4{
margin-left: 43%;
}
#services h4{
    margin-left: 43%;
    color: white;
}
#services p{
    margin-left: 20%;
    color: white;
}
#images{
    display: flex;
    
}
/*portfolio images styling */
.portfolio h4{
margin-left: 43%;
}
.portfolio img{
transition: 1s;
padding: 15px;
width: 250px;
}

.design,.development,.product{
    display: none;
}
.form-section{
    background-image: url(./assets/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    padding-top: 40px;
    
}
form h4{
    color: white;
    margin-left: 43%;
}


body{
    font-family: 'Antonio', sans-serif;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
}
.social span{
    font-size: xx-small;
}
   footer{
       width: 100%;
   }